<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='dist/output.css')}}"
      rel="stylesheet"
    />
    <title>Add Photo</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-green-200">
  <script>
    window.onload = function() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
            document.getElementById("latitude").value = position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
        }, function (error) {
        console.error("Geolocation error:", error);
        });
      } else {
        console.error("Geolocation not supported");
      }
    };
  </script>
  <div class="flex flex-col items-center justify-center h-screen space-y-6">
    <h1 class="font-bold text-[20px]">Add Photo</h1>
      <button class="relative inline-block px-6 py-3 rounded-full bg-green-500 font-semibold text-white active:scale-95 group"
            onclick="location.href='/'">
      <span class="relative z-10 text-black">Back</span>
      <span class="absolute inset-0 m-auto bg-green-600 rounded-full opacity-0 scale-0 group-hover:opacity-100 group-hover:scale-100 transition-all duration-700 ease-[cubic-bezier(0.23,1,0.32,1)]"></span>
    </button>
      <form action="/Photo" method="post" enctype="multipart/form-data">
        <div class="flex flex-col bg-green-300 rounded p-1">
          <div class="bg-green-300 rounded p-1">
            <label class="bg-green-300" for="Library">Library Name: </label>
            <input class="bg-green-200" type="text" id="Library" name="Library" required>
          </div>
        <br>
        <div class="flex flex-col items-center justify-center rounded">
          <label class="bg-green-300 rounded p-1" for="PhotoDrop">Select Picture: </label>
          <input class="bg-green-300 rounded p-1" type="file" id="PhotoDrop" name="PhotoDrop" required>
        </div>
        <br>
          <input type="hidden" name="latitude" id="latitude" required>
          <input type="hidden" name="longitude" id="longitude" required>
          <div class="relative inline-block px-6 py-3 rounded-full bg-green-500 font-semibold text-black transition-all duration-500 ease-[cubic-bezier(0.23,1,0.32,1)] active:scale-95 group overflow-hidden">
          <input
            type="submit"
            id="submit"
            class="hover:cursor-pointer relative z-10 bg-transparent border-none text-black text-center cursor-pointer w-full h-full">
          <span class="absolute inset-0 m-auto bg-green-600 rounded-full opacity-0 scale-0 group-hover:opacity-100 group-hover:scale-125 transition-all duration-1000 ease-[cubic-bezier(0.23,1,0.32,1)] z-0"></span>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
